<header>
	<div id="logo_img">
		<img src="/assets/images/header_dog.jpg">
	</div>
	<div id="logo">
		Huff Pet News
		<a href="/articles" class="button">Fetch Articles<img src="/assets/images/ball_icon.png" 
		class="icon icon-ball"></a>
	</div>
</header>