<nav class="site-nav">
	<div><a href="/" class="nav-link whitewashed">Home</a></div>
	<div><a href="/articles" class="nav-link whitewashed">All Articles</a></div>
	<div><a href="/scraped" class="nav-link whitewashed">Scrape Articles</a></div>
</nav>