<nav class="site-nav">
	<div><a href="/" class="nav-link">Home</a></div>
	<div><a href="/saved" class="nav-link">Saved Articles</a></div>
	<div><a href="/saved" class="nav-link">Scrape Articles</a></div>
</nav>
<header>
	<div id="logo">Huff Pet News</div>
</header>