<section>
	<div id="all-articles" class="">
		<div id="results-wrapper">
				<table>
					<thead>
						<th>Title</th>
						<th>Image</th>
						<th>Link</th>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div id="results">Articles go in here!</div>
		</div>
	</div>
</section>