html, body {
    margin: 0 auto;
    height: 100%;
    font-family: 'Open Sans', arial, sans-serif;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	background: #5492DB;
}

a, p {
	font-family: 'Open Sans', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Love Ya Like A Sister', cursive;
}

h1 { font-size: 4em; }

.whitewashed {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.2),
		1px 1px 2px rgba(0, 0, 0, 0.3);
	letter-spacing: 0.5px;
}

nav a.nav-link {
	margin: 20px;
}

nav a.nav-link:hover {
	color: #094AAB;
}

header {
	margin: 40px;
	display: flex;
	flex-direction: row;
	font-family: 'Love Ya Like A Sister', cursive;

}


#logo_img {
	flex-grow: 1;
	width: 50%;
    margin: 0px 20px 0px 10%;
    text-align: center;
}

#logo_img img{
    max-width: 100%;
}

#logo {
	flex-grow: 1;
	width: 50%;
	margin: 20px 10% 0px 20px;
}

#logo h1 {
	font-size: 6em;
}


#logo p{
	font-size: .2em;
	margin-top: 40px;
}


.site-nav {
	padding: 14px 0px;
}

.blue-button {
	border: 1px solid #ececec;
	padding: 10px 20px;
	text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px 5px #ececec;
    background: #5492DB;
} 
.blue-button:hover {
	background: #094AAB;
}

.button {
	font-size: 20px;
	font-family: 'Open Sans', arial, sans-serif;
	text-transform: uppercase;
	border: 1px solid #ececec;
	padding: 20px 40px;
	text-decoration: none;
    animation-name: buttonOut;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    display: inline-block;
    box-shadow: 2px 2px 5px #ececec;
    background: #5492DB;
    color: #fff;
} 
.button:hover {
	background: #094AAB;
    animation-name: buttonIn;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
    padding: 24px 44px;
}
.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0px 5px;
}

.icon-ball {
}

@keyframes buttonIn {
    from {padding: 20px 40px; font-size: 20px; box-shadow: 2px 2px 5px #ececec;}
    to {padding: 22px 42px; font-size: 21px; box-shadow: 2px 2px 10px #ececec;}
}
@keyframes buttonOut {
    from {padding: 22px 42px; font-size: 21px; box-shadow: 2px 2px 10px #ececec;}
    to {padding: 20px 40px; font-size: 20px; box-shadow: 2px 2px 5px #ececec;}
}

section {
	display: flex; 
	flex-direction: column;
	justify-content: center;
    width: 60%;
    padding: 0px 20%;
	margin-bottom: 40px;
}

section .wrapper{
	width: 1024px;
}

#results-wrapper {

}

#results-wrapper table {
	width: 100%;
	margin-bottom: 20px;
}

#results {
	
}

#results-table td{
	padding: 20px 0px;
}


#results-table img{
	margin-right: 20px;
	border: 5px solid #5492DB;
	box-shadow: 4px 4px 10px #cdcdcd;
}

.article-img {
	min-width: 160px;
	padding-right: 20px;
}


.article-info {
	padding: 0px 20px;
}

.article-tag {
}


.article-title {
	text-decoration: none;
	font-family: 'Love Ya Like A Sister', cursive;
	color: #5492DB;
}


#comment-form {
	background: #ececec;
	padding: 20px;
	border: 1px solid #cdcdcd;
}

#comment-form span{
	font-size: 0.8em;
}

#comment-name {
	padding: 6px;
	margin-bottom: 6px;
}

#comment-body{
	width: 90%;
	padding: 6px;
}

#comment-div {
	margin: 20px 0px;
}

#comment-div .date{
	font-size: 0.8em;
	margin: 0px;
	padding: 0px;
}

#comment-div .name{
	font-weight: bold;
	text-transform: uppercase;
}

#comment-div .name img{
	margin-right: 5px;
	width: 14px;
	height: 14px;
}

#comment-div .body{
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 1.2em;
}

#comment-div .delete{
	font-size: 0.8em;
	float: right;
	padding: 4px 10px;
}